<!DOCTYPE html>
<!-- saved from url=(0023)http://rubyonrails.org/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/style1.css" type="text/css" media="screen" charset="utf-8">
    <meta name="google-site-verification" content="Jknoaf3CvRzba3wXMxqgurDErIGZ9e1L1luuDMhQYEI">
    <!-- Begin Jekyll SEO tag v2.4.0 -->
<title>Ruby on Rails | A web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern.</title>
<meta name="generator" content="Jekyll v3.7.3">
<meta property="og:title" content="Ruby on Rails">
<meta property="og:locale" content="en_US">
<meta name="description" content="A web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern.">
<meta property="og:description" content="A web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern.">
<link rel="canonical" href="http://rubyonrails.org/">
<meta property="og:url" content="http://rubyonrails.org/">
<meta property="og:site_name" content="Ruby on Rails">
<meta property="og:image" content="https://avatars.githubusercontent.com/u/4223">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@rails">
<script type="application/ld+json">
{"name":"Ruby on Rails","description":"A web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern.","@type":"WebSite","url":"http://rubyonrails.org/","image":"https://avatars.githubusercontent.com/u/4223","headline":"Ruby on Rails","@context":"http://schema.org"}</script>
<!-- End Jekyll SEO tag -->

  </head>

  <body>
    <div class="container">

    <section>
      <p class="mobile-center">
        <img src="../images/blood.png" width="100" height="125" alt="Ruby on Rails">


      </p>
    </section>


    <section>
      <figure class="right">
        <img src="../images/bloodd.jpg" alt="So many possibilities.">
      </figure>

      <h1>Blood Heading</h1>
      <p>Blood Content

    <section class="version">
      
      <form action = '/index'>
      <button type="submit" class="btn btn-primary btn-lg" style="background-color:red;">Get Started</button>
    </form>
    </section>



    <section class="interior">


      <p><strong>You’ve probably already used many of the applications that were built with Ruby on Rails:</strong> <a href="https://basecamp.com/">Basecamp</a>, <a href="https://github.com/">GitHub</a>, <a href="https://shopify.com/">Shopify</a>, <a href="https://airbnb.com/">Airbnb</a>, <a href="https://twitch.tv/">Twitch</a>, <a href="https://soundcloud.com/">SoundCloud</a>, <a href="https://hulu.com/">Hulu</a>, <a href="https://zendesk.com/">Zendesk</a>, <a href="https://square.com/">Square</a>, <a href="https://highrisehq.com/">Highrise</a>, <a href="https://cookpad.com/">Cookpad</a>. Those are just some of the big names, but there are literally hundreds of thousands of applications built with the framework since its release in 2004.</p>

      <p><strong>Ruby on Rails is open source software</strong>, so not only is it free to use, you can also help make it better. <a href="http://contributors.rubyonrails.org/">More than 4,500 people</a> already have contributed code to Rails. It’s easier than you think to become one of them.</p>

      <p><strong>Optimizing for programmer happiness with Convention over Configuration</strong> is how we roll. Ruby on Rails has been popularizing both concepts along with a variety of other controversial points since the beginning. To learn more about why Rails is so different from many other web-application frameworks and paradigms, examine <a href="http://rubyonrails.org/doctrine">The Rails Doctrine</a>.</p>
    </section>

    <section class="more">
      <figure>
      <img src="../images/more.png" alt="More resources">
      </figure>

      <p>Keep up to date with <a href="https://twitter.com/rails">Rails on Twitter</a> and <a href="https://rails-weekly.ongoodbits.com/">This Week in Rails</a></p>



    </div> <!-- /.container -->


</body></html>
