body{
  font-size: 16px;
  line-height: 1.5;
}

header .navbar{
   border-radius: 0;
   margin: 0;
}

.hero{
  background-image: url(../images/img2.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  padding: 50px 0;
  min-height: 500px;
  position: relative;
}

.hero-content{
  position: :absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

.hero-content h2{
  color: #FFF;
  font-size: 80px;
}

.hero-content p {
  color: #FFF;
  font-size: 40px;
  margin-bottom: 30px;
}

.hero-content .btn{
  border-radius: 5px;
  padding: 20px;
}

main{
  min-height: 500px;
  padding: 50px 0;
}

footer{
  padding:30px 0;
  font-size: 14px;
  color: #BBB;
  background: #222;
  text-align: center;
}

#pos{
  margin-top: 400px;
}
#radius{
  border-radius: 150px;
}

.table{
  border-spacing:5px;
  border-collapse:  collapse;
}
.thetab th, .thetab td { padding: 0.5em; }
.thetab { border: 1px solid white; }
.thetab th, .thetab td { border: 1px solid white; }
.thetabcol{
  background-color:#C3D8EB;
}
.grp{
  background-color:#FE7C73;
  color:white;
}
