<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <div class="navbar-brand">BLOODBANK</div>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="#">About US</a></li>
    <li><a href="/maps">Find Nearest Blood Banks</a></li>
  </ul>
  </div>
</nav>
