<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
    

      <br/>
      <br>
      <a href="/donate" class="btn btn-lg btn-primary" style="background-color:white;color:black;margin:50px;"><b>Donate Blood</b></a></t>

      <a href="/need" class="btn btn-lg btn-primary" style="background-color:white;color:black;"><b>Need Blood</b></a>
      <br>
      <br>
      <br>
      <a href="/contact" class="btn btn-lg btn-primary" style="background-color:white;color:black;" ><b>Contact us</b></a>

    </div>

</section>


<%- contentFor('body') %>
<div class="jumbotron text-center" 	style>
    <b>YOUR BLOOD CAN SAVE SOMEONE'S LIFE</b>
</div>
