<div class = 'container'>

<%- include header.ejs %>
<div style="background-color : #FFF8A4;">
<p>

  A blood donation occurs when a person voluntarily has blood drawn and used for transfusions and/or made into biopharmaceutical medications by a process called fractionation (separation of whole-blood components). Donation may be of whole blood (WB), or of specific components directly (the latter called apheresis). Blood banks often participate in the collection process as well as the procedures that follow it.
  <br>
  <br>


Facts about blood needs:

-Every year our nation requires about 5 Crore units of blood, out of which only a meager 2.5 Crore units of blood are available.<br>
-The gift of blood is the gift of life. There is no substitute for human blood.<br>
-Every two seconds someone needs blood.<br>
-More than 38,000 blood donations are needed every day.<br>
-A total of 30 million blood components are transfused each year.<br>
-The average red blood cell transfusion is approximately 3 pints.<br>
-The blood type most often requested by hospitals is Type O.<br>
-Sickle cell patients can require frequent blood transfusions throughout their lives.<br>
-More than 1 million new people are diagnosed with cancer each year. Many of them will need blood, sometimes daily, during their chemotherapy treatment.<br>
-A single car accident victim can require as many as 100 units of blood<br>
<br>

For further details, go <a href="https://en.wikipedia.org/wiki/Blood_donation">here</a>

</p>
</div>
<%- include footer.ejs %>
</div>
