<div class="container" style="background-color:#FFF8A4;">
  <%- include header.ejs %>
      <p style="text-align:center; font-size:24px"><b>SEARCH YOUR BLOOD GROUP MATCH</b></p><br>
      <br>
       <div class = "col-sm-6 col-md-6 col-lg-6" style="background-color:#FFF8A4;">
      <form id ="regform" action = "/need" method = "post">
        <div class="form-group">
          <label>Blood Group Required</label>
          <input type="text" name="bgr" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Place</label>
          <input type="text" name="place" class="form-control" required>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
    <div class = "col-sm-6 col-md-6 col-lg-6" style="background-image:url('images/donor.jpg'); background-size:contain; background-size:cover;">
      <div style="height:700px">
    </div>
  </div>
</div>
<div class="container">
  <%- include footer.ejs %>
</div>
