<%- include header.ejs %>
<div align="center" style="font-size:80px; font-weight:bold">
  <h1 style="background-color:#FE6D64; color:white">Successfully Added!</h1>
  <h2>Stay healthy. We will contact you in need.</h2>
  <h3 style="color:black"><u style="color:#FE6D64">Donate blood. Save lives</u></h3>
  <form action='/success'>
    <button type="submit" class="btn btn-primary btn-lg" style="background-color:red;">Back to Home Page</button>
  </form>
<div>
